<div class="new-page">
  <% if flash[:errors] %>
    <p class="errors"><%= flash[:errors].join(", ") %></p>
  <% end %>

  <h1>Edit Bakery Form</h1>
  <p>
    This form makes a PATCH request to '/bakeries/<%= @bakery.id %>', updating a bakery.
    Because HTML forms are incapable of handling PATCH requests, we handle the with a hand-baked middleware
    that alters the request's method.
  </p>
  <p>
    Try updating the bakery!
  </p>

  <div class="form-holder">
    <form class="dessert-form" action="/bakeries/<%= @bakery.id %>" method="POST">
      <label>Super Secret Auth Token
        <input type="text" name="form_authenticity_token" value="<%= auth_token %>">
      </label>
      <label>Change Form Method
        <input type="text" name="_method" value="PATCH">
      </label>
      <input type="text" name="bakery[name]"
        placeholder="Name" value="<%= @bakery.name %>">

      <input type="text" name="bakery[img_url]"
        placeholder="Image Url" value="<%= @bakery.img_url %>">

      <input type="text" name="bakery[location]"
        placeholder="Location" value="<%= @bakery.location %>">

      <input type="submit">
    </form>
  </div>
</div>
